<!DOCTYPE html>
<!-- Default home page -->
<html>

<head>
    <style>
    </style>
</head>

<body>
    <p>Dear Admin,</p>
    <p><b>SOMETHING WRONG WITH THE SERVER !!!</b> </p>
    <br />
    <p>Please, Check and do something, NOW !!! </p>
</body>

</html>